body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:  rgb(251, 172, 75);
    font-family: Arial, Helvetica, sans-serif;

}

.titre {
    text-align: center;
    top: 1%;
    position: fixed;
}

.blackT {
    color:#333;
    display: inline;
}

.MiddleBox {
    height: 100%;
    width: 60%;
    background-color: darkorange;
    overflow: hidden;
    justify-content: center;

    display: flex;                
    justify-content: center;     
    align-items: center;         
    flex-direction: column;     
    padding: 20px;               
    box-sizing: border-box;
    
}

.MiddleBox .caracteristique {
    width: 60%;
    background-color: white;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}



/* Headline inside form */
.MiddleBox .caracteristique .searchT {
    text-align: center;
    font-size: 18px;
}


input[type="text"], label {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}


/* Checkbox section layout */
.MiddleBox .caracteristique .checkboxes {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

/* Submit button */
button[type="submit"] {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #555;
}